### Libraries

In [4]:
import pandas as pd
import os

#### position names

In [5]:
def get_folders_in_directory(directory_path):
    # Get the list of all files and folders in the specified directory
    items = os.listdir(directory_path)
    # Filter out only the folders from the list
    folders = [item for item in items if os.path.isdir(os.path.join(directory_path, item))]
    return folders

In [8]:
base_dir = '../data/dataset'
asana_names_list = get_folders_in_directory(base_dir)

per ogni asana name controlla se è nell'altro dataset e aggiungi nome in inglese

In [15]:
eng_names = pd.read_csv("../data/asana_names.csv")
eng_names

,AName,ENG
0,advasana,reversed corpse pose
1,akarna dhanurasana,NaN
2,akashi mudra,awareness of inner space
3,ananda madirasana,NaN
4,ardha baddha padmottanasana,half lotus forward bending
...,...,...
221,vrischikasana,scorpion pose
222,vyaghrasana,NaN
223,yoga mudra,attitude of psychic union
224,yogamudrasana,psychic union pose
225,yoni mudra may also be performed by interlocki...,NaN

In [20]:
position_df = []
for el in asana_names_list:
    d = {}
    d["Name"] = el
    if any(eng_names['AName'] == el):
        d["Eng_Name"]= eng_names.loc[eng_names['AName'] == el, 'ENG'].values[0]
    position_df.append(d)

In [22]:
df = pd.DataFrame(position_df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      106 non-null    object
 1   Eng_Name  18 non-null     object
dtypes: object(2)
memory usage: 1.8+ KB

In [23]:
df.to_csv("../data/yoga_poses.csv",index=False)